---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39928, "name": "new advertiser bbbe114bca7328002a522ee303525572",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:02",
        "modify_date": "2015-04-23T15:56:02"}, {"id": 39927, "name": "new advertiser
        6796987e86493f819b1f995dc23589a6", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:55:59", "modify_date": "2015-04-23T15:55:59"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:05 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39928/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:05 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:06 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39929,"name":"Special Product a14c75c7e453c9d53b382f3f25a9d830","category_id":1010,"status_id":9,"headline":"Buy
        our product today 0ec2f5b09950ea76ea6bded31f35a895","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! d96982e8fa70eea13481c3ec4d3c9db3","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79527}'
  recorded_at: Thu, 23 Apr 2015 19:56:08 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79527/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79527, "advertiser_id": 39929, "status_id": 9, "category_id":
        1010, "name": "Special Product a14c75c7e453c9d53b382f3f25a9d830", "headline":
        "Buy our product today 0ec2f5b09950ea76ea6bded31f35a895", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! d96982e8fa70eea13481c3ec4d3c9db3",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:07",
        "modify_date": "2015-04-23T15:56:07", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818872217-14d0c4601409f2d6d303d5f774a8faa7.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818872604-f892b6daae3debba235e49d51a543159.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:08 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79527/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 6f50c2e7cc276d64377301a09f2ef3cd","status_id":1,"type":"http","offer_id":79528,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90019}'
  recorded_at: Thu, 23 Apr 2015 19:56:10 GMT
recorded_with: VCR 2.9.3
