---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39929, "name": "new advertiser b4c9a963ee54b6e63375b4d7c70de3f4",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:05",
        "modify_date": "2015-04-23T15:56:05"}, {"id": 39930, "name": "new advertiser
        210fc9d8ca386c36a3058338b5a6de45", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:56:08", "modify_date": "2015-04-23T15:56:08"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:11 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39929/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:11 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:12 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39931,"name":"Special Product cf641c706dd389178b9a51f8aa21a7a0","category_id":1010,"status_id":9,"headline":"Buy
        our product today df6f609f1c5fa4eb2c962782da276ee3","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! f95062204012f6d5e2291e6d61660004","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79529}'
  recorded_at: Thu, 23 Apr 2015 19:56:14 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79529/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79529, "advertiser_id": 39931, "status_id": 9, "category_id":
        1010, "name": "Special Product cf641c706dd389178b9a51f8aa21a7a0", "headline":
        "Buy our product today df6f609f1c5fa4eb2c962782da276ee3", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! f95062204012f6d5e2291e6d61660004",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:13",
        "modify_date": "2015-04-23T15:56:13", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818878175-fae336286bfa030fd51bdb3b29ba825f.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818878705-b379d5bbe33a808f72246fdcccc46bda.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:14 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79529/datatransfers/
    body:
      encoding: UTF-8
      string: '{"status_id":1,"type":"http","offer_id":79530,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Failed", "message": {"name": ["This field is required."]}}'
  recorded_at: Thu, 23 Apr 2015 19:56:17 GMT
recorded_with: VCR 2.9.3
