---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39932, "name": "new advertiser dcc1f67b833caaa55f6119808829d00d",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:14",
        "modify_date": "2015-04-23T15:56:14"}, {"id": 39931, "name": "new advertiser
        0adf422147c28e1d64550a5440cb4f3d", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:56:11", "modify_date": "2015-04-23T15:56:11"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:17 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39932/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:17 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:18 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39933,"name":"Special Product 9f8b9e0451037a7a672b68b5037486da","category_id":1010,"status_id":9,"headline":"Buy
        our product today 3f5a2b67811b148afde276c0573fa4c0","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! ab4a89752171be0ed7786bcfd48d6125","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79531}'
  recorded_at: Thu, 23 Apr 2015 19:56:20 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79531/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79531, "advertiser_id": 39933, "status_id": 9, "category_id":
        1010, "name": "Special Product 9f8b9e0451037a7a672b68b5037486da", "headline":
        "Buy our product today 3f5a2b67811b148afde276c0573fa4c0", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! ab4a89752171be0ed7786bcfd48d6125",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:19",
        "modify_date": "2015-04-23T15:56:19", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818884626-a2b86ff4ad1af9ac860ce71a39c9f8e4.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818884988-521569a9f48ee1cec1da739621820fb5.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:21 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79531/datatransfers/
    body:
      encoding: UTF-8
      string: '{"status_id":1,"type":"http","offer_id":79532,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Failed", "message": {"name": ["This field is required."]}}'
  recorded_at: Thu, 23 Apr 2015 19:56:24 GMT
recorded_with: VCR 2.9.3
