---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:55:17 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:55:17 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: UTF-8
      string: '{"name":"new advertiser 5da6b58f7c207f56fb90646bed216482","status_id":1,"category_id":1010}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "message": "Advertiser successfully
        created", "id": 39914}'
  recorded_at: Thu, 23 Apr 2015 19:55:18 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39914,"name":"Special Product 9f7e32ccf9199838e63a1a328d8e280f","category_id":1010,"status_id":9,"headline":"Buy
        our product today 0e7e09112140df617f1657fe243fc494","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 8dba6d57b2e70904b39e2e3418080347","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79512}'
  recorded_at: Thu, 23 Apr 2015 19:55:19 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79512/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 762ab1649e7c5b6314575d0c58c4f2ee","status_id":1,"type":"http","offer_id":79512,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90009}'
  recorded_at: Thu, 23 Apr 2015 19:55:19 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 90009, "name": "DT for Special Product 1 762ab1649e7c5b6314575d0c58c4f2ee",
        "status_id": 1, "type": "http", "offer_id": 79512, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}, {"id": 90010, "name": "DT for Special Product 1 380fa2a3deed247858f0917bcf555cd8",
        "status_id": 1, "type": "http", "offer_id": 79513, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}]'
  recorded_at: Thu, 23 Apr 2015 19:55:22 GMT
recorded_with: VCR 2.9.3
