---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39916, "name": "new advertiser 73d14cb1f2a33306511267931eee55d2",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:55:23",
        "modify_date": "2015-04-23T15:55:23"}, {"id": 39917, "name": "new advertiser
        08f6f67ea673494700f593ec9fb36928", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:55:26", "modify_date": "2015-04-23T15:55:26"}]'
  recorded_at: Thu, 23 Apr 2015 19:55:29 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39916/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:55:30 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:55:30 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39918,"name":"Special Product 7215e2fce4f6b252130e16c149ca1907","category_id":1010,"status_id":9,"headline":"Buy
        our product today cab0c10da8e3b3936640948438f32955","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 287fa7a079d5415da85efe50cdf33e76","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79516}'
  recorded_at: Thu, 23 Apr 2015 19:55:32 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79516/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 979ae409d60e257e414983957be50918","status_id":1,"type":"http","offer_id":79516,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90013}'
  recorded_at: Thu, 23 Apr 2015 19:55:33 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 90013, "name": "DT for Special Product 1 979ae409d60e257e414983957be50918",
        "status_id": 1, "type": "http", "offer_id": 79516, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}, {"id": 90014, "name": "DT for Special Product 1 c72272ce32ff378c43df90ebafc4c289",
        "status_id": 1, "type": "http", "offer_id": 79517, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}]'
  recorded_at: Thu, 23 Apr 2015 19:55:36 GMT
recorded_with: VCR 2.9.3
