---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39937, "name": "new advertiser 4714f981803fd82749525dea7309b4c0",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:32",
        "modify_date": "2015-04-23T15:56:32"}, {"id": 39938, "name": "new advertiser
        92ec2494451f866f79dafc888afc46ee", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:56:34", "modify_date": "2015-04-23T15:56:34"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:38 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39937/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:38 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:39 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39939,"name":"Special Product 7e329d683723a8d3c63d4be66a19295c","category_id":1010,"status_id":9,"headline":"Buy
        our product today 81b2ee83e50ae39d7e0b76ea7172eccc","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 727b95c2596232f032155240fca35eee","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79537}'
  recorded_at: Thu, 23 Apr 2015 19:56:41 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79537/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79537, "advertiser_id": 39939, "status_id": 9, "category_id":
        1010, "name": "Special Product 7e329d683723a8d3c63d4be66a19295c", "headline":
        "Buy our product today 81b2ee83e50ae39d7e0b76ea7172eccc", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 727b95c2596232f032155240fca35eee",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:40",
        "modify_date": "2015-04-23T15:56:40", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818905468-80c598562bab64979cbcef1975eeaff8.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818905949-141907bb99974d79515ab325671464fd.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:42 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79537/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 42f203b8a396617a1a2e2598565eba8f","status_id":1,"type":"http","offer_id":79537,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90022}'
  recorded_at: Thu, 23 Apr 2015 19:56:45 GMT
- request:
    method: put
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79537/datatransfers/90022/
    body:
      encoding: UTF-8
      string: '{"status_id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Update Successful"}'
  recorded_at: Thu, 23 Apr 2015 19:56:46 GMT
recorded_with: VCR 2.9.3
