---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39935, "name": "new advertiser 5348816bad0609c174195d8bb160128d",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:25",
        "modify_date": "2015-04-23T15:56:25"}, {"id": 39936, "name": "new advertiser
        5b360a4d77dbac5b7e1cce7b388bb95f", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:56:27", "modify_date": "2015-04-23T15:56:27"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:31 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39935/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:32 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:32 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39937,"name":"Special Product 15e714c96283ec3412c8f90c4de7094e","category_id":1010,"status_id":9,"headline":"Buy
        our product today 74b359054f2068aa9fa2ab15c3a05fd3","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! b8749fdade215c2705d9cf14b749ec6f","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79535}'
  recorded_at: Thu, 23 Apr 2015 19:56:34 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79535/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79535, "advertiser_id": 39937, "status_id": 9, "category_id":
        1010, "name": "Special Product 15e714c96283ec3412c8f90c4de7094e", "headline":
        "Buy our product today 74b359054f2068aa9fa2ab15c3a05fd3", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! b8749fdade215c2705d9cf14b749ec6f",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:33",
        "modify_date": "2015-04-23T15:56:33", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818898806-ef1c62ad9bc8aa624a7f27fc641b6dab.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818899227-287d619d92d2ae22ac0d107794e01288.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:35 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79535/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 b8f71e0d694d6aa71fb3a12d5c35ee9b","status_id":1,"type":"http","offer_id":79535,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90021}'
  recorded_at: Thu, 23 Apr 2015 19:56:37 GMT
- request:
    method: put
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79535/datatransfers/90021/
    body:
      encoding: UTF-8
      string: '{"status_id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Update Successful"}'
  recorded_at: Thu, 23 Apr 2015 19:56:37 GMT
recorded_with: VCR 2.9.3
