---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39933, "name": "new advertiser 2de88862b62234050bf59925de3a17ef",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:18",
        "modify_date": "2015-04-23T15:56:18"}, {"id": 39934, "name": "new advertiser
        f210e63cbac9f6cfcaf436ab5738f4cd", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:56:21", "modify_date": "2015-04-23T15:56:21"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:24 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39933/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:24 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:25 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39935,"name":"Special Product 30a8afa43cdefbcb487e58217943a257","category_id":1010,"status_id":9,"headline":"Buy
        our product today b48d831d053838fabd951faafbbe11cc","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! c8822784dc85f731b82d600b2b1ee5a9","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79533}'
  recorded_at: Thu, 23 Apr 2015 19:56:27 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79533/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79533, "advertiser_id": 39935, "status_id": 9, "category_id":
        1010, "name": "Special Product 30a8afa43cdefbcb487e58217943a257", "headline":
        "Buy our product today b48d831d053838fabd951faafbbe11cc", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! c8822784dc85f731b82d600b2b1ee5a9",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:26",
        "modify_date": "2015-04-23T15:56:26", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818891566-f109ac8d508f79fd9533bde178059ea6.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818891957-3a93597c5ac2897e2ceccbf2d418f6b1.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:28 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79533/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 9599a175402491003df626d39cbb3ad4","status_id":1,"type":"http","offer_id":79533,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90020}'
  recorded_at: Thu, 23 Apr 2015 19:56:30 GMT
- request:
    method: put
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79533/datatransfers/90020/
    body:
      encoding: UTF-8
      string: '{"status_id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Update Successful"}'
  recorded_at: Thu, 23 Apr 2015 19:56:30 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90020/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 90020, "name": "DT for Special Product 1 9599a175402491003df626d39cbb3ad4",
        "status_id": 2, "type": "http", "offer_id": 79533, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}'
  recorded_at: Thu, 23 Apr 2015 19:56:31 GMT
recorded_with: VCR 2.9.3
