---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39922, "name": "new advertiser 52aa4f212dc0b133bb1d3ec69d9c23d5",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:55:44",
        "modify_date": "2015-04-23T15:55:44"}, {"id": 39923, "name": "new advertiser
        8be259bd388d52c072016a812340d9f1", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:55:46", "modify_date": "2015-04-23T15:55:46"}]'
  recorded_at: Thu, 23 Apr 2015 19:55:49 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39922/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:55:50 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:55:50 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39924,"name":"Special Product 3946001ccfacda425dc2ae73079f59a1","category_id":1010,"status_id":9,"headline":"Buy
        our product today 2b34635430049d9aef68a5988aa8a30e","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! e0150f7f7723d5a6796157bcb6310513","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79522}'
  recorded_at: Thu, 23 Apr 2015 19:55:52 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79522/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79522, "advertiser_id": 39924, "status_id": 9, "category_id":
        1010, "name": "Special Product 3946001ccfacda425dc2ae73079f59a1", "headline":
        "Buy our product today 2b34635430049d9aef68a5988aa8a30e", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! e0150f7f7723d5a6796157bcb6310513",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:55:51",
        "modify_date": "2015-04-23T15:55:51", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818856882-937307794b86befdc049c21c6fdbf05e.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818857315-21d32fa551622e0ea81c5fc26faed5ea.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:55:53 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79522/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 fe7cac58c05eb7c4075f5ec109416853","status_id":1,"type":"http","offer_id":79522,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90017}'
  recorded_at: Thu, 23 Apr 2015 19:55:55 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90017/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 90017, "name": "DT for Special Product 1 fe7cac58c05eb7c4075f5ec109416853",
        "status_id": 1, "type": "http", "offer_id": 79522, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}'
  recorded_at: Thu, 23 Apr 2015 19:55:55 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39926,"name":"Special Product 37e92a6112d6ef901d8bc968289df4e9","category_id":1010,"status_id":9,"headline":"Buy
        our product today 381946bdf5c9ef0569c228950d4ea91b","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! f69f200ec84f8b20024daef628118447","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79524}'
  recorded_at: Thu, 23 Apr 2015 19:55:57 GMT
recorded_with: VCR 2.9.3
