---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39918, "name": "new advertiser 57a20b11ed7ff3e339ba27f242825b5e",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:55:30",
        "modify_date": "2015-04-23T15:55:30"}, {"id": 39919, "name": "new advertiser
        b54150596918f07bf080b7e786499e09", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:55:32", "modify_date": "2015-04-23T15:55:32"}]'
  recorded_at: Thu, 23 Apr 2015 19:55:36 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39918/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:55:36 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:55:37 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39920,"name":"Special Product b5ba24b180f2031e3896c4f25d71dade","category_id":1010,"status_id":9,"headline":"Buy
        our product today 8ed95ab249453d6eb31c70d36a0609b5","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! e0d844b7f16ade54020d5a3e37d3c514","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79518}'
  recorded_at: Thu, 23 Apr 2015 19:55:39 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79518/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79518, "advertiser_id": 39920, "status_id": 9, "category_id":
        1010, "name": "Special Product b5ba24b180f2031e3896c4f25d71dade", "headline":
        "Buy our product today 8ed95ab249453d6eb31c70d36a0609b5", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! e0d844b7f16ade54020d5a3e37d3c514",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:55:38",
        "modify_date": "2015-04-23T15:55:38", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818843644-afa2cb9cacd6d6e5c947c87702a6b2b5.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818844077-a83995cf6e90f5261cafe495e6295cea.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:55:39 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79518/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 2c7bbaf2d428b27f4f5ad8059646cedd","status_id":1,"type":"http","offer_id":79518,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90015}'
  recorded_at: Thu, 23 Apr 2015 19:55:42 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90015/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 90015, "name": "DT for Special Product 1 2c7bbaf2d428b27f4f5ad8059646cedd",
        "status_id": 1, "type": "http", "offer_id": 79518, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}'
  recorded_at: Thu, 23 Apr 2015 19:55:42 GMT
recorded_with: VCR 2.9.3
