---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39920, "name": "new advertiser 8fb197310ac8399e82f870c3ed23a1f9",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:55:37",
        "modify_date": "2015-04-23T15:55:37"}, {"id": 39921, "name": "new advertiser
        8038a03bde9bb61484e39db3c3c18c6c", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:55:39", "modify_date": "2015-04-23T15:55:39"}]'
  recorded_at: Thu, 23 Apr 2015 19:55:43 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39920/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:55:43 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:55:44 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39922,"name":"Special Product de10e96e4edd0a8a5bb8283d8a5dc1a6","category_id":1010,"status_id":9,"headline":"Buy
        our product today 62a2514b20efc9ab951bbb146a801269","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 6b5992d2928152532adbee11d9f3c43d","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79520}'
  recorded_at: Thu, 23 Apr 2015 19:55:46 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79520/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79520, "advertiser_id": 39922, "status_id": 9, "category_id":
        1010, "name": "Special Product de10e96e4edd0a8a5bb8283d8a5dc1a6", "headline":
        "Buy our product today 62a2514b20efc9ab951bbb146a801269", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 6b5992d2928152532adbee11d9f3c43d",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:55:45",
        "modify_date": "2015-04-23T15:55:45", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818850510-d64f40eba7912ccbbcee9655ff6a5ad2.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818850876-0172835498d4f9f4f079dddeb12b20d6.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:55:46 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79520/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 d285ec73e4f9c5feda37bd47b94da52d","status_id":1,"type":"http","offer_id":79520,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90016}'
  recorded_at: Thu, 23 Apr 2015 19:55:49 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90016/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 90016, "name": "DT for Special Product 1 d285ec73e4f9c5feda37bd47b94da52d",
        "status_id": 1, "type": "http", "offer_id": 79520, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}'
  recorded_at: Thu, 23 Apr 2015 19:55:49 GMT
recorded_with: VCR 2.9.3
