---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Apr 2015 22:36:17 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Apr 2015 22:36:18 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: UTF-8
      string: '{"name":"new advertiser 6499e33066154cacbd9a532c30e3ceb6","status_id":1,"category_id":1010}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "message": "Advertiser successfully
        created", "id": 40350}'
  recorded_at: Fri, 24 Apr 2015 22:36:18 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":40350,"name":"Special Product 65c15917af8effe220163dbcb710a369","category_id":1010,"status_id":9,"headline":"Buy
        our product today 4187957e2cb176c1783c59a304086918","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 77e832d3daecc8382679a0f6c23eabde","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79767}'
  recorded_at: Fri, 24 Apr 2015 22:36:19 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79767/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 e9626c3b4d7983e3488e64fe0c90790e","status_id":1,"type":"http","offer_id":79767,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90063}'
  recorded_at: Fri, 24 Apr 2015 22:36:20 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 90063, "name": "DT for Special Product 1 e9626c3b4d7983e3488e64fe0c90790e",
        "status_id": 1, "type": "http", "offer_id": 79767, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}, {"id": 90064, "name": "DT for Special Product 1 25924d60c9f12618b13ab5f85c998783",
        "status_id": 1, "type": "http", "offer_id": 79768, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}]'
  recorded_at: Fri, 24 Apr 2015 22:36:23 GMT
recorded_with: VCR 2.9.3
