---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 40352, "name": "new advertiser c09fd615bd76ae7f7715880ab209db5a",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-24T18:36:24",
        "modify_date": "2015-04-24T18:36:24"}, {"id": 40353, "name": "new advertiser
        bd9f0c9da37e8a9fcf3ffd7749665db9", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-24T18:36:26", "modify_date": "2015-04-24T18:36:26"}]'
  recorded_at: Fri, 24 Apr 2015 22:36:29 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/40352/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Fri, 24 Apr 2015 22:36:30 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Apr 2015 22:36:30 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":40354,"name":"Special Product 461d6f9cd2a17aefbcfa3ca42054b733","category_id":1010,"status_id":9,"headline":"Buy
        our product today 4f554f33e428a73f7a62f26c67a98646","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 15a6d462f6460d0ff26f5456c7d95de1","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79771}'
  recorded_at: Fri, 24 Apr 2015 22:36:32 GMT
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79771/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 c9ab9c2e8be3a02e9c9758f28558697f","status_id":1,"type":"http","offer_id":79771,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90067}'
  recorded_at: Fri, 24 Apr 2015 22:36:32 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 90067, "name": "DT for Special Product 1 c9ab9c2e8be3a02e9c9758f28558697f",
        "status_id": 1, "type": "http", "offer_id": 79771, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}, {"id": 90068, "name": "DT for Special Product 1 72951ad06766110228c5a35e153ba44e",
        "status_id": 1, "type": "http", "offer_id": 79772, "dt_info": {"base_url":
        "http://www.someclientbaseurl.com", "method": "POST"}, "data_fields": [{"email":
        "#{EM}"}, {"first_name": "#{FN}"}, {"last_name": "#{LN}"}, {"zip": "#{PO}"},
        {"gender": "#{G}"}]}]'
  recorded_at: Fri, 24 Apr 2015 22:36:35 GMT
recorded_with: VCR 2.9.3
