---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39943, "name": "new advertiser 135c8c91760c6265a5fd2e205e42de1c",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:54",
        "modify_date": "2015-04-23T15:56:54"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:58 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39943/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:58 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:58 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39944,"name":"Special Product 741a9d63911d390c27b249cc7209867d","category_id":1010,"status_id":9,"headline":"Buy
        our product today ebd314db486154d059154c6f767ea719","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 634520e7d8b515a6572e2458d9356f6e","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79542}'
  recorded_at: Thu, 23 Apr 2015 19:57:00 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79542/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79542, "advertiser_id": 39944, "status_id": 9, "category_id":
        1010, "name": "Special Product 741a9d63911d390c27b249cc7209867d", "headline":
        "Buy our product today ebd314db486154d059154c6f767ea719", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 634520e7d8b515a6572e2458d9356f6e",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:59",
        "modify_date": "2015-04-23T15:56:59", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818924874-5d60fb9542631f8cd6eef11683abdded.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818925321-40c1a981f7b67a6c929c66dcef76f0ac.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:57:01 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79542/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 fcbc47a8a270f94a182978527f8e573c","status_id":1,"type":"http","offer_id":79542,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90023}'
  recorded_at: Thu, 23 Apr 2015 19:57:03 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90023/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "DataTransfer Succesfully
        Deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:57:04 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90023/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Retrieve Failed", "message": "No permission to view data
        transfer for offer."}'
  recorded_at: Thu, 23 Apr 2015 19:57:04 GMT
recorded_with: VCR 2.9.3
