---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39946, "name": "new advertiser f610a24c0b4823b496fdc22173a53423",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:57:05",
        "modify_date": "2015-04-23T15:57:05"}, {"id": 39947, "name": "new advertiser
        7c05bc4a2b502f972f18f78f94df13d7", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:57:08", "modify_date": "2015-04-23T15:57:08"}]'
  recorded_at: Thu, 23 Apr 2015 19:57:11 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39946/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:57:12 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:57:12 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39948,"name":"Special Product 15d5968ebf5ebd8a832c8a601e7761de","category_id":1010,"status_id":9,"headline":"Buy
        our product today 89c6a4a739bc3a988ca54f3c54c01eda","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 0c92d3209ef11673989742b615ad16dc","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79546}'
  recorded_at: Thu, 23 Apr 2015 19:57:14 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79546/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79546, "advertiser_id": 39948, "status_id": 9, "category_id":
        1010, "name": "Special Product 15d5968ebf5ebd8a832c8a601e7761de", "headline":
        "Buy our product today 89c6a4a739bc3a988ca54f3c54c01eda", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 0c92d3209ef11673989742b615ad16dc",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:57:13",
        "modify_date": "2015-04-23T15:57:13", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818938660-5f0397e2f27794cb7185d1b2188d99c2.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818939023-371884503db91b230136449f095bf6f8.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:57:14 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79546/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 f480e1a4aa08faf84b57ebd555aa673b","status_id":1,"type":"http","offer_id":79546,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90025}'
  recorded_at: Thu, 23 Apr 2015 19:57:17 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90025/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "DataTransfer Succesfully
        Deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:57:17 GMT
recorded_with: VCR 2.9.3
