---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39944, "name": "new advertiser 6d294a0d8466ff12c18500a3b8984498",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:58",
        "modify_date": "2015-04-23T15:56:58"}, {"id": 39945, "name": "new advertiser
        907554b4ee72947dc1f7cfecf8d8cfe9", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:57:00", "modify_date": "2015-04-23T15:57:00"}]'
  recorded_at: Thu, 23 Apr 2015 19:57:05 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39944/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:57:05 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:57:06 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39946,"name":"Special Product 1b059c641182f67e4c0bffcf21359ebf","category_id":1010,"status_id":9,"headline":"Buy
        our product today 16d7e515e4074f4327aff5b68dab4bbe","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! e0efab8b2e061cde48d181020c85e1d1","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79544}'
  recorded_at: Thu, 23 Apr 2015 19:57:08 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79544/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79544, "advertiser_id": 39946, "status_id": 9, "category_id":
        1010, "name": "Special Product 1b059c641182f67e4c0bffcf21359ebf", "headline":
        "Buy our product today 16d7e515e4074f4327aff5b68dab4bbe", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! e0efab8b2e061cde48d181020c85e1d1",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:57:07",
        "modify_date": "2015-04-23T15:57:07", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818932075-d67674a5b1ff77cc00ac1f60562d573d.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818932457-1a80c273722cfbdab4b49e5c7b3f4d46.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:57:08 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79544/datatransfers/
    body:
      encoding: UTF-8
      string: '{"name":"DT for Special Product 1 39944623ea62b76a90750b2ad83198b6","status_id":1,"type":"http","offer_id":79544,"dt_info":{"base_url":"http://www.someclientbaseurl.com","method":"POST"},"data_fields":[{"email":"#{EM}"},{"first_name":"#{FN}"},{"last_name":"#{LN}"},{"zip":"#{PO}"},{"gender":"#{G}"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Create Successful", "id": 90024}'
  recorded_at: Thu, 23 Apr 2015 19:57:10 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/datatransfers/90024/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "DataTransfer Succesfully
        Deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:57:11 GMT
recorded_with: VCR 2.9.3
