---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39631, "name": "new advertiser 6aae56118862fda6457a3ac63a01ea5e",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-22T19:36:10",
        "modify_date": "2015-04-22T19:36:10"}]'
  recorded_at: Wed, 22 Apr 2015 23:36:14 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39631/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Wed, 22 Apr 2015 23:36:14 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Apr 2015 23:36:14 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39632,"name":"Special Product 8d038ac610d7fef791f22f6c3fb2ab68","category_id":1010,"status_id":9,"headline":"Buy
        our product today 8d038ac610d7fef791f22f6c3fb2ab68","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 8d038ac610d7fef791f22f6c3fb2ab68","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79273}'
  recorded_at: Wed, 22 Apr 2015 23:36:16 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 79273, "advertiser_id": 39632, "status_id": 9, "category_id":
        1010, "name": "Special Product 8d038ac610d7fef791f22f6c3fb2ab68", "headline":
        "Buy our product today 8d038ac610d7fef791f22f6c3fb2ab68", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 8d038ac610d7fef791f22f6c3fb2ab68",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T19:36:16",
        "modify_date": "2015-04-22T19:36:16", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429745716409-c7834e2c34e815fbde1c3a5b2a942406.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429745716804-d1aecb90cc988ea6c733bbb0388c824e.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}, {"id": 79274, "advertiser_id": 39632, "status_id": 9, "category_id":
        1010, "name": "Special Product b6b8dbb4a9780a4a216634bb9aad1a8c", "headline":
        "Buy our product today b6b8dbb4a9780a4a216634bb9aad1a8c", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! b6b8dbb4a9780a4a216634bb9aad1a8c",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T19:36:18",
        "modify_date": "2015-04-22T19:36:18", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429745717781-5358e1dc66d91db51c2122e04e4b7b23.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429745718175-62d6cd95e0bd91df7556bbc846a06891.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}]'
  recorded_at: Wed, 22 Apr 2015 23:36:18 GMT
recorded_with: VCR 2.9.3
