---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39630, "name": "new advertiser 39b680b2a1abe412e7667e38da0ef823",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-22T19:36:05",
        "modify_date": "2015-04-22T19:36:05"}]'
  recorded_at: Wed, 22 Apr 2015 23:36:09 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39630/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Wed, 22 Apr 2015 23:36:09 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Apr 2015 23:36:10 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39631,"name":"Special Product 7c15b1d919fc0899b475e77cdb81ad33","category_id":1010,"status_id":9,"headline":"Buy
        our product today 7c15b1d919fc0899b475e77cdb81ad33","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 7c15b1d919fc0899b475e77cdb81ad33","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79271}'
  recorded_at: Wed, 22 Apr 2015 23:36:11 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 79271, "advertiser_id": 39631, "status_id": 9, "category_id":
        1010, "name": "Special Product 7c15b1d919fc0899b475e77cdb81ad33", "headline":
        "Buy our product today 7c15b1d919fc0899b475e77cdb81ad33", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 7c15b1d919fc0899b475e77cdb81ad33",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T19:36:11",
        "modify_date": "2015-04-22T19:36:11", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429745711573-a00cfe890774fa27fd22178a745c8abd.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429745711980-3397c0d51a43d277ba0046d0a80dccdf.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}, {"id": 79272, "advertiser_id": 39631, "status_id": 9, "category_id":
        1010, "name": "Special Product 75f6159330f926028727ba3362d9d8d0", "headline":
        "Buy our product today 75f6159330f926028727ba3362d9d8d0", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 75f6159330f926028727ba3362d9d8d0",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T19:36:13",
        "modify_date": "2015-04-22T19:36:13", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429745712986-6fa18f4f0972806c70185aa97d8b3284.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429745713364-ff21473a1c71fc7d1b605801d9d8759f.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}]'
  recorded_at: Wed, 22 Apr 2015 23:36:13 GMT
recorded_with: VCR 2.9.3
