---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39941, "name": "new advertiser 3b28b0b6d55c31ecd9a7f82695148f6c",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:47",
        "modify_date": "2015-04-23T15:56:47"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:50 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39941/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:51 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:51 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39942,"name":"Special Product 9d2ef427cc17a3be732bff39a5f2592a","category_id":1010,"status_id":9,"headline":"Buy
        our product today f8d32d1630c3a945587a4bdff38fc20c","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 9070273c67dd86aa57cd0aa8f6a3eab0","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79540}'
  recorded_at: Thu, 23 Apr 2015 19:56:53 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79540/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79540, "advertiser_id": 39942, "status_id": 9, "category_id":
        1010, "name": "Special Product 9d2ef427cc17a3be732bff39a5f2592a", "headline":
        "Buy our product today f8d32d1630c3a945587a4bdff38fc20c", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 9070273c67dd86aa57cd0aa8f6a3eab0",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:52",
        "modify_date": "2015-04-23T15:56:52", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818917511-2921df14993d36e4e3fdb3a6e0e1d233.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818917894-5148471d07cf47056dceaa63ab192b69.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:53 GMT
- request:
    method: put
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79540/datatransfers/99999999999999/
    body:
      encoding: UTF-8
      string: '{"status_id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Update Failed", "message": "Data Transfer not found under
        this offer."}'
  recorded_at: Thu, 23 Apr 2015 19:56:54 GMT
recorded_with: VCR 2.9.3
