---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39939, "name": "new advertiser 5d558d58ab2537805c1f387e06d9a423",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:39",
        "modify_date": "2015-04-23T15:56:39"}, {"id": 39940, "name": "new advertiser
        4659f9f9b0e0426a7c72d344916afa45", "status_id": 1, "category_id": 1010, "key":
        "", "create_date": "2015-04-23T15:56:41", "modify_date": "2015-04-23T15:56:41"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:46 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39939/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:47 GMT
[...]
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:47 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39941,"name":"Special Product eb7e49ea4eeb82068c0d9f1c849ae897","category_id":1010,"status_id":9,"headline":"Buy
        our product today 1f593ce5310d54419a204e133fb23a53","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 0f9c60d04fbf456bd9b2042a773f95c5","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79539}'
  recorded_at: Thu, 23 Apr 2015 19:56:49 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79539/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79539, "advertiser_id": 39941, "status_id": 9, "category_id":
        1010, "name": "Special Product eb7e49ea4eeb82068c0d9f1c849ae897", "headline":
        "Buy our product today 1f593ce5310d54419a204e133fb23a53", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 0f9c60d04fbf456bd9b2042a773f95c5",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:48",
        "modify_date": "2015-04-23T15:56:48", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818913617-95762afd8f1d694c8ec55d524a6509d0.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818914035-452aa61e370667e70d8527b65a74d673.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:50 GMT
- request:
    method: put
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79539/datatransfers/99999999999999/
    body:
      encoding: UTF-8
      string: '{"status_id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Update Failed", "message": "Data Transfer not found under
        this offer."}'
  recorded_at: Thu, 23 Apr 2015 19:56:50 GMT
recorded_with: VCR 2.9.3
