---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39942, "name": "new advertiser c8a66cb3c6888b405f4a3c8776a4e933",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-23T15:56:51",
        "modify_date": "2015-04-23T15:56:51"}]'
  recorded_at: Thu, 23 Apr 2015 19:56:54 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39942/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Thu, 23 Apr 2015 19:56:54 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Apr 2015 19:56:55 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39943,"name":"Special Product b87b010d045106f6c44a8a4dfdb70313","category_id":1010,"status_id":9,"headline":"Buy
        our product today 9e5d825c4130dee21dcc592094731be1","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 5584b884ad35f39968a953eabc7cd395","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79541}'
  recorded_at: Thu, 23 Apr 2015 19:56:57 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79541/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79541, "advertiser_id": 39943, "status_id": 9, "category_id":
        1010, "name": "Special Product b87b010d045106f6c44a8a4dfdb70313", "headline":
        "Buy our product today 9e5d825c4130dee21dcc592094731be1", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 5584b884ad35f39968a953eabc7cd395",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-23T15:56:56",
        "modify_date": "2015-04-23T15:56:56", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429818921227-fd36d7b03dac35a83afda78100137473.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429818921606-efe5e5c7fff73a8393572696e8d43e82.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Thu, 23 Apr 2015 19:56:57 GMT
- request:
    method: put
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79541/datatransfers/99999999999999/
    body:
      encoding: UTF-8
      string: '{"status_id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Update Failed", "message": "Data Transfer not found under
        this offer."}'
  recorded_at: Thu, 23 Apr 2015 19:56:57 GMT
recorded_with: VCR 2.9.3
