---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 40404, "name": "new advertiser e792092b0d37c198b619a4eeff59f2c1",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-24T18:38:52",
        "modify_date": "2015-04-24T18:38:52"}]'
  recorded_at: Fri, 24 Apr 2015 22:38:54 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/40404/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Fri, 24 Apr 2015 22:38:55 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Apr 2015 22:38:55 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":40405,"name":"Special Product 83e7d8b2b29c6270f25d38228e1835d8","category_id":1010,"status_id":9,"headline":"Buy
        our product today 26011e121942c84a3c7badbaec5886c9","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! e12a9317bf09978cfee678cf0525b9af","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79819}'
  recorded_at: Fri, 24 Apr 2015 22:38:57 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79819/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79819, "advertiser_id": 40405, "status_id": 9, "category_id":
        1010, "name": "Special Product 83e7d8b2b29c6270f25d38228e1835d8", "headline":
        "Buy our product today 26011e121942c84a3c7badbaec5886c9", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! e12a9317bf09978cfee678cf0525b9af",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-24T18:38:56",
        "modify_date": "2015-04-24T18:38:56", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429915074103-1eddeda5fa6cb3985c2f146e1371c903.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429915074497-cb908a94d5cd2943d43a377e0e4afb8d.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Fri, 24 Apr 2015 22:38:57 GMT
recorded_with: VCR 2.9.3
