---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39578, "name": "new advertiser 7f8358d3a114a066af6111c6d0943c6e",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-22T18:41:25",
        "modify_date": "2015-04-22T18:41:25"}]'
  recorded_at: Wed, 22 Apr 2015 22:41:27 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39578/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Wed, 22 Apr 2015 22:41:27 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Apr 2015 22:41:28 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39579,"name":"Special Product f49e2003dfb42e2070ab0ef32524ba9b","category_id":1010,"status_id":9,"headline":"Buy
        our product today f49e2003dfb42e2070ab0ef32524ba9b","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! f49e2003dfb42e2070ab0ef32524ba9b","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79236}'
  recorded_at: Wed, 22 Apr 2015 22:41:30 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79236/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79236, "advertiser_id": 39579, "status_id": 9, "category_id":
        1010, "name": "Special Product f49e2003dfb42e2070ab0ef32524ba9b", "headline":
        "Buy our product today f49e2003dfb42e2070ab0ef32524ba9b", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! f49e2003dfb42e2070ab0ef32524ba9b",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T18:41:29",
        "modify_date": "2015-04-22T18:41:29", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429742429749-d797cdcf604c1eb5cafbdf2f0ac049fb.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429742430124-4c6c7910c264c07c696afa0d4ef857d7.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Wed, 22 Apr 2015 22:41:30 GMT
recorded_with: VCR 2.9.3
