---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39577, "name": "new advertiser 114a7d3e27ac455e33e7c995741907ff",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-22T18:41:21",
        "modify_date": "2015-04-22T18:41:21"}]'
  recorded_at: Wed, 22 Apr 2015 22:41:24 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39577/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Wed, 22 Apr 2015 22:41:24 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Apr 2015 22:41:24 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39578,"name":"Special Product 9b48993aec78a74a7d3d3ae46c70f306","category_id":1010,"status_id":9,"headline":"Buy
        our product today 9b48993aec78a74a7d3d3ae46c70f306","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 9b48993aec78a74a7d3d3ae46c70f306","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79235}'
  recorded_at: Wed, 22 Apr 2015 22:41:26 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79235/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79235, "advertiser_id": 39578, "status_id": 9, "category_id":
        1010, "name": "Special Product 9b48993aec78a74a7d3d3ae46c70f306", "headline":
        "Buy our product today 9b48993aec78a74a7d3d3ae46c70f306", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 9b48993aec78a74a7d3d3ae46c70f306",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T18:41:26",
        "modify_date": "2015-04-22T18:41:26", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429742426497-31885f37685d9efc05f0a19bd7f86584.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429742426865-2fe8c942b884a48cb0a4ff89663c80b0.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["10023", "11211",
        "14226", "10009"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Wed, 22 Apr 2015 22:41:27 GMT
recorded_with: VCR 2.9.3
