---
http_interactions:
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": 39575, "name": "new advertiser 0b296cac9bdd84c870ba67fc4f5bd91e",
        "status_id": 1, "category_id": 1010, "key": "", "create_date": "2015-04-22T18:31:45",
        "modify_date": "2015-04-22T18:31:45"}]'
  recorded_at: Wed, 22 Apr 2015 22:41:20 GMT
- request:
    method: delete
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/advertisers/39575/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Delete Successful", "message": "Advertiser Succesfully
        deleted"}'
  recorded_at: Wed, 22 Apr 2015 22:41:20 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Apr 2015 22:41:21 GMT
[...]
- request:
    method: post
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/
    body:
      encoding: UTF-8
      string: '{"advertiser_id":39577,"name":"Special Product 1f3ee59c11b6133f84426596c8613ef0","category_id":1010,"status_id":9,"headline":"Buy
        our product today 1f3ee59c11b6133f84426596c8613ef0","body":"Try for FREE for
        a limited time only. This is your one-and-only chance! 1f3ee59c11b6133f84426596c8613ef0","cpl_price":1.0,"global_cap":1000,"monthly_cap":300,"daily_cap":10,"image1":"http://www.opt-intelligence.com/images/cats120.png","image2":"http://www.opt-intelligence.com/images/cats88.png","data_points":["EM","FN"],"targeting":{"min_age":18,"max_age":45,"zip":{"include":true,"zip_codes":["14226","10009","10023","11211"]},"gender":"m","country":{"include":true,"countries":["USA"]},"third_party":{}},"comment":"Hello
        there"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "Request Successful", "message": "Offer successfully created",
        "id": 79234}'
  recorded_at: Wed, 22 Apr 2015 22:41:23 GMT
- request:
    method: get
    uri: https://<USERNAME>:<PASSWORD>@oiapi.com/v1/offers/79234/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 79234, "advertiser_id": 39577, "status_id": 9, "category_id":
        1010, "name": "Special Product 1f3ee59c11b6133f84426596c8613ef0", "headline":
        "Buy our product today 1f3ee59c11b6133f84426596c8613ef0", "body": "Try for
        FREE for a limited time only. This is your one-and-only chance! 1f3ee59c11b6133f84426596c8613ef0",
        "unsubscribe_url": "http://opt-intelligence.com/ar/unsub/Optintelligence_Unsubscribe.html",
        "privacy_policy": "", "cpl_price": 1.0, "cap_status_id": 1101, "global_cap":
        1000, "monthly_cap": 300, "daily_cap": 10, "create_date": "2015-04-22T18:41:23",
        "modify_date": "2015-04-22T18:41:23", "image1": "https://d1e25ii2es31lb.cloudfront.net/1429742423037-1fa15f1aa0070bee6eb3fb983addcce3.png",
        "image2": "https://d1e25ii2es31lb.cloudfront.net/1429742423429-22e3480b75a07ad86dbcd1acc4fd34df.png",
        "data_points": ["EM", "FN"], "targeting": {"max_age": 45, "state": {"states":
        [], "include": true}, "zip": {"include": true, "zip_codes": ["14226", "10009",
        "10023", "11211"]}, "country": {"include": true, "countries": ["USA"]}, "zip_radius":
        null, "gender": "m", "third_party": {}, "min_age": 18}, "comment": "Hello
        there"}'
  recorded_at: Wed, 22 Apr 2015 22:41:23 GMT
recorded_with: VCR 2.9.3
